DJANGO_DEBUG=0
DJANGO_SECRET_KEY=
DJANGO_ALLOWED_HOSTS=savetory.ru www.savetory.ru
POSTGRES_DB=sklad
POSTGRES_USER=sklad
POSTGRES_PASSWORD=
POSTGRES_HOST=db
POSTGRES_PORT=5432
DB_NAME=sklad
DB_USER=sklad
DB_PASSWORD=
SKLAD_WINDOWS_FILE=/app/downloads/SKlad.exe
SKLAD_ANDROID_FILE=/app/downloads/SKlad.apk
SKLAD_PAYMENTS_ENABLED=0
SKLAD_LICENSE_PRIVATE_KEY_FILE=
YOOKASSA_SHOP_ID=
YOOKASSA_SECRET_KEY=
YOOKASSA_RETURN_URL=https://savetory.ru/desktop/payment/result/
YOOKASSA_VAT_CODE=1
## Техподдержка (SMTP того же почтового сервиса, который используется владельцем)
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=1
EMAIL_USE_SSL=0
DEFAULT_FROM_EMAIL=
SUPPORT_EMAIL=
DJANGO_SESSION_COOKIE_SECURE=1
