{% load static %}
<div class="app-preview" aria-label="Иллюстрация интерфейса СКлад">
  <div class="app-title"><span class="lights">● ● ●</span><span>СКлад</span></div>
  <div class="app-layout"><aside><b class="mini-create">Создать рубрику</b><small>РУБРИКИ</small><span class="chosen">Все предметы <i>1</i></span><span>Монеты</span><span>Книги</span><span>Документы</span><span class="mini-settings">Настройки</span></aside>
  <div class="app-content"><div class="app-toolbar"><span>⌕ &nbsp; Поиск по архиву</span><small>Заполнено 1 из 10</small><b>Купить</b></div><div class="mini-cards"><div class="mini-card"><img src="{% static 'img/downloads/camera.png' %}" alt="Винтажный фотоаппарат"><strong>Фотоаппарат</strong><small>Моя коллекция</small></div><div class="mini-add"><b>+</b><span>Добавить<br>предмет</span></div></div></div></div>
</div>
